# Automatically created by OE
serial --unit=0 --speed=115200 --word=8 --parity=no --stop=1
default=boot
timeout=10

menuentry 'boot'{
linux /Image LABEL=boot root=/dev/sda2 
devicetree /dtb/k3-j721e-beagleboneai64.dtb
}
